<div class="center ">
  <div class="header-class">
    <b>SMART Feed Water Tank</b>
  </div>
  <img src="./assets/logo_FB.png" alt="Logo" class="mr-4">
</div>
<div class="container mt-4 p-5">
  <div class="row card-height margin-between-tiles">
    <div class="col-12 col-lg-3">
      <mat-card class="card-height">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-lg-3">
      <mat-card class="card-height">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row card-height margin-between-tiles">
    <div class="col-12 col-lg-6">
      <app-bar-graph> </app-bar-graph>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row card-height margin-between-tiles">
    <div class="col-12 col-lg-6"></div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row card-height margin-between-tiles">
    <div class="col-12 col-lg-6">
      <app-hor-bar-graph></app-hor-bar-graph>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-3">
      <mat-card class="card-height-final">
        <mat-card-header class="text-color"> Steam Flow Rate </mat-card-header>
        <mat-card-content class="text-end">
          <p class="card-text text-center top-margin">
            <b>123456</b> <sub class="unit-size"> Kgs </sub>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
